---
import Navbar from "../components/Navbar.astro"
import "../styles.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="proudparrot2.com">
		<meta property="twitter:image" content="/mountains.png">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="og:description" content="Hello world! I'm proudparrot2, a fullstack web developer.">
		<meta name="theme-color" content="#66799D" />

		<link rel="shortcut icon" href="/wave.png" type="image/png">
		<title>proudparrot2</title>
	</head>
	<body>
    <Navbar />
		<div class="prose px-8 py-4 pb-16 min-w-full">
      <slot />
    </div>
	</body>
</html>
